#navigation {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    background-color: $background-dark;
    a{
        color: white;
        font-size: 1em;
    }
}

#restaurant,#hotel {
    display: none;
}

.toast {
    display:block;
    position: fixed;
    top: 50vh;
    left: 40vw;
    background-color: #28a745;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    z-index: 10;
    transition: opacity 0.3s ease-in-out;
}

#addhotel-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.conteneur_ligne {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 15px;
}

.conteneur_name_input {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.conteneur_ligne {
    display: flex;
    flex-wrap: wrap;  /* Permet aux éléments de se mettre sur plusieurs lignes si nécessaire */
    gap: 20px;  /* Espace entre les éléments */
}

#cp {
    margin-top: 20px;
}

.select {
    height: 50px;
}

#prix_adulte, #prix_enfant, #cp {
    flex-grow: 1;  /* Ces éléments peuvent grandir, mais auront une largeur plus petite par défaut */
    min-width: 20px;  /* Définit une largeur minimale pour ces éléments */
}

#horaire {
    flex-grow: 2;  /* L'élément horaire peut grandir davantage que les autres */
}

#name {
    flex-grow: 3;  /* L'élément nom du partenaire prendra plus de place */
}

#categorie, #specialite {
    flex-grow: 2;  /* Ces éléments grandissent un peu moins que #name mais plus que les autres */
}

#nombre_chambre, #nombre_etoile {
    flex-grow: 1;  /* Ces éléments ont la même priorité que #prix_adulte et #prix_enfant */
}

#rue, #cville, #cdepartment {
    flex-grow: 2;  /* Ces champs auront également un flex-grow plus grand */
    min-width: 150px;  /* Définit une largeur minimale pour chaque élément */
}

#villeautocomplete-list {
    position: absolute;
    top: 75px;
    background-color: $background-white;
    border: solid 1px $border;
    padding: 10px;
}

#cville {
    position: relative;
}

input {
    width: auto;
    height: 50px;
}


button {
    padding: 8px 16px;
    background-color: $button;
    color: $text-white;
    border: solid 2px $border;
    border-radius: 20px;
    cursor: pointer;

    :hover {
        background-color: $button-hover-hard;
    }
}

.center {
    display:flex;
    justify-content: center;
    margin-top: 15px;
}