.container_partenaire {
    display: flex;
    max-width: 1024px;
    margin: 20px auto;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .info-section {
        flex: 1.5;
        padding: 20px;

        .header {
            text-align: center;
            h2 {
                font-size: 24px;
                margin: 0;
                span.gourmet {
                    color: #8a2be2;
                    font-style: italic;
                }
            }
            h3 {
                font-size: 18px;
                margin-top: 8px;
                color: #555;
            }
        }
    }
}

.image-section {
    flex: 1;
    img {
        width: 100%;
        height: auto;
        display: block;
        margin: 15px;
    }
}

// map partie test
.container_map {
    display: flex;
    max-width: 1024px;
    margin: 20px auto;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    margin: 0 auto;
    background-color: white;
    
    h1 {
        font-size: 24px;
        color: #333;
    }

    .result {
        margin: 20px;
        font-size: 18px;
        color: #333;
    }

    .coordinates {
        font-weight: bold;
        color: #007BFF;
    }
}


#map {
    width: 100%;
    height: 400px;
    margin: 20px;
    border-radius: 8px;
}