

section {
    background-color:#f7f7f5;
}

hr {
    border: none;
    width: 100%;    
    height: 2px;       
    //margin: 10px 0;
}

#container_sejour {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 3vw;
    flex-wrap:nowrap;
}

#container_price_day {
    width: 60%;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrer horizontalement */
    justify-content: center; /* Centrer les éléments verticalement à l'intérieur */
}



#container_left {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#container_right {
    width: 30%;
}

#container_right_fixe {
    overflow: visible;
    position:sticky;
    top: 40px;
    display: flex;
    flex-direction: column; /* Disposition en colonne */
    align-items: center; /* Centrer horizontalement */
    justify-content: center; /* Centrer les éléments verticalement à l'intérieur */
}
#container_right_information {
    margin-bottom: 20px;
    border: solid 1px;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column; /* Disposition en colonne */
    align-items: center; /* Centrer horizontalement */
    justify-content: center; /* Centrer les éléments verticalement à l'intérieur */
}

#container_button_right {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}


#container_button_left {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin: 20px 0;
}

#image_travel {
    height: 600px;
    object-fit:cover;
}

.button-programme {
    width: 24%;
    display: block;
    text-align: center;
    color: #f7f7f5;
    border-radius: 10px;
    padding: 10px;
    border: solid 1px;
}

.button-acheter {
    width: 100%;
    display: block;
    color: #f7f7f5;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.25rem;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: solid 2px;
}

#jours {
    margin-top: 10px;
    align-self: flex-start;
}

#price {
    margin-bottom: 10px;
}

.container_etape {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    width: 100%;
    margin-bottom: 20px;
}

.image-section {
    width: 40%;
}

.img-etape {
    height: 200px;
    width: 100%;
    min-width: 100px;
    object-fit: cover;
    border-radius: 10px;
    border: solid 1px;
}
.hr_etape {
    margin: 20px 0;
}

.info-section {
    width: 55%;
}
.titre_info {
    align-self: left;
    margin-bottom: 20px;
}

.avis_afficher {
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}